html {
  overflow-y: auto !important;
}

.natural-typography {
  h1 {
    margin-block: 0.67em;
  }
  h2 {
    margin-block: 0.83em;
  }
  p {
    margin-top: 1em;
  }
}

.v-btn:before {
  display: none;
}

.title {
  word-break: keep-all;
}
masonry-layout {
  .v-card {
    margin-bottom: 16px;
    > img {
      display: block;
      width: 100%;
    }
    &__text {
      width: auto;
    }
  }
}
